terraform {
  backend "azurerm" {
    resource_group_name  = "rg-tfstate-qa-001"
    storage_account_name = "replacewithuniqueqatfstate"
    container_name       = "tfstate"
    key                  = "qa.terraform.tfstate"
    use_azuread_auth     = true
  }
}
