terraform {
  backend "azurerm" {
    resource_group_name  = "rg-tfstate-prod-001"
    storage_account_name = "replacewithuniqueprodtfstate"
    container_name       = "tfstate"
    key                  = "prod.terraform.tfstate"
    use_azuread_auth     = true
  }
}
