resource_group_name = "rg-aks-prod-001"
location            = "southeastasia"

vnet_name                   = "vnet-aks-prod-001"
vnet_address_space          = ["10.30.0.0/16"]
aks_subnet_name             = "snet-aks-prod-001"
aks_subnet_address_prefixes = ["10.30.1.0/24"]

enable_nat_gateway                  = true
nat_gateway_name                    = "ngw-aks-prod-001"
nat_gateway_public_ip_name          = "pip-ngw-aks-prod-001"
nat_gateway_idle_timeout_in_minutes = 4

aks_identity_name = "id-aks-prod-001"

aks_cluster_name            = "aks-prod-001"
aks_dns_prefix              = "aks-prod-001"
aks_kubernetes_version      = null
aks_private_cluster_enabled = false

aks_oidc_issuer_enabled       = true
aks_workload_identity_enabled = true

system_node_pool_name                    = "system"
system_node_vm_size                      = "Standard_D2s_v5"
system_node_min_count                    = 1
system_node_max_count                    = 3
system_node_os_disk_size_gb              = 64
system_node_only_critical_addons_enabled = true
system_node_temporary_name_for_rotation  = "syspooltmp"

user_node_pool_name       = "user"
user_node_vm_size         = "Standard_D2s_v5"
user_node_min_count       = 2
user_node_max_count       = 5
user_node_os_disk_size_gb = 128

user_node_labels = {
  workload = "user"
  pool     = "user"
}

enable_acr        = true
acr_name          = "replacewithuniqueprodacr001"
acr_sku           = "Standard"
acr_admin_enabled = false

enable_keyvault = true
keyvault_name   = "replace-with-unique-prod-kv"

keyvault_sku_name                      = "standard"
keyvault_soft_delete_retention_days    = 30
keyvault_purge_protection_enabled      = true
keyvault_public_network_access_enabled = true

enable_workload_identity_keyvault_access = false

tags = {
  environment = "prod"
  project     = "aks-platform"
  managed_by  = "terraform"
}
