resource_group_name = "rg-aks-dev-minimal"
location            = "southeastasia"

tags = {
  environment = "dev"
  project     = "aks-platform"
  managed_by  = "terraform"
}

vnet_name                   = "vnet-aks-dev-minimal"
vnet_address_space          = ["10.10.0.0/16"]
aks_subnet_name             = "snet-aks-dev-minimal"
aks_subnet_address_prefixes = ["10.10.1.0/24"]

enable_nat_gateway                  = true
nat_gateway_name                    = "ngw-aks-dev-minimal"
nat_gateway_public_ip_name          = "pip-ngw-aks-dev-minimal"
nat_gateway_idle_timeout_in_minutes = 4

aks_identity_name = "id-aks-dev-minimal"

aks_cluster_name            = "aks-dev-minimal"
aks_dns_prefix              = "aks-dev-minimal"
aks_kubernetes_version      = null
aks_private_cluster_enabled = false

system_node_pool_name                    = "system"
system_node_vm_size                      = "Standard_B2s_v2"
system_node_min_count                    = 1
system_node_max_count                    = 3
system_node_os_disk_size_gb              = 64
system_node_only_critical_addons_enabled = false
system_node_temporary_name_for_rotation  = "syspooltmp"

user_node_pool_name       = "user"
user_node_vm_size         = "Standard_B2s_v2"
user_node_min_count       = 1
user_node_max_count       = 3
user_node_os_disk_size_gb = 64

user_node_labels = {
  workload = "user"
  pool     = "user"
}

# Minimal install: no Azure Container Registry.
enable_acr        = false
acr_name          = "replacewithuniquedevacr001"
acr_sku           = "Basic"
acr_admin_enabled = false

# Minimal install: no Azure Key Vault.
enable_keyvault = false
keyvault_name   = "replace-with-unique-dev-kv"

keyvault_sku_name                      = "standard"
keyvault_soft_delete_retention_days    = 7
keyvault_purge_protection_enabled      = false
keyvault_public_network_access_enabled = true

# Minimal install: Workload Identity disabled.
aks_oidc_issuer_enabled       = false
aks_workload_identity_enabled = false

# Minimal install: no app-specific Key Vault identity.
enable_workload_identity_keyvault_access = false

app_workload_identity_name             = "id-kv-reader-dev-minimal"
app_workload_namespace                 = "app-secrets-demo"
app_workload_service_account_name      = "kv-reader-sa"
app_federated_identity_credential_name = "fic-kv-reader"
